.page-continer {
    height: 700px;
    border: 2px solid gray;
    /* background-color: cornflowerblue; */
}

.tbl {
    border-collapse: collapse;
    width: 100%;
}

.tbl th,
.tbl td {
    padding: 5px;
    border: solid 1px #777;
}

.tbl th {
    background-color: lightblue;
}